page-help-modal {
  $font-stack:    Helvetica, sans-serif;
  $primary-color: #333;

#tutorial1 {
text-align: left;
font: 150% $font-stack;

}

#tutorial2 {
text-align: left;
font: 100% $font-stack;

}

.no-break {
  display: inline;
}


#count, #count1 {
  font: 75% $font-stack;
  }

}
